%h2 Make #{ @type.capitalize.indefinitize } Appointment
%form.form-horizontal{ role: 'form' }
  %h4 Personal Information
  .form-group
    %label.col-sm-3.control-label{ for: 'input_first_name' }
      First Name
    .col-sm-9
      %input.form-control{ type: 'text', id: 'input_first_name', placeholder: 'First Name' }
  .form-group
    %label.col-sm-3.control-label{ for: 'input_last_name' }
      Last Name
    .col-sm-9
      %input.form-control{ type: 'text', id: 'input_last_name', placeholder: 'Last Name' }
      %span.help-block In the case of multiple last names, please enter the one you most identify by.
  %h4 Vehicle Information
  .form-group
    %label.col-sm-3.control-label{ for: 'input_vehicle_make' }
      Make
    .col-sm-9
      %input.form-control{ type: 'text', id: 'input_vehicle_make', placeholder: 'Vehicle Make' }
  .form-group
    %label.col-sm-3.control-label{ for: 'input_vehicle_year' }
      Year
    .col-sm-9
      %input.form-control{ type: 'number', id: 'input_vehicle_year', placeholder: 'Vehicle Production Year' }
  - if @type != 'checkup'
    .form-group
      %label.col-sm-3.control-label{ for: 'input_vehicle_issue' }
        Issue
      .col-sm-9
        %textarea.form-control{ id: 'input_vehicle_issue', placeholder: 'What problems have you noticed?' }
  %h4 Billing Information
  .form-group
    %label.col-sm-3.control-label{ for: 'input_billing_address' }
      Billing Address
    .col-sm-9
      %input.form-control{ type: 'text', id: 'input_billing_address', placeholder: 'Billing Address' }
  .form-group
    %label.col-sm-3.control-label{ for: 'input_billing_phone' }
      Billing Phone
    .col-sm-9
      %input.form-control{ type: 'tel', id: 'input_billing_phone', placeholder: 'Phone Number' }
  .form-group
    %label.col-sm-3.control-label{ for: 'input_card_number' }
      Card Number
    .col-sm-9
      %input.form-control{ type: 'number', id: 'input_card_number', placeholder: 'Card Number' }
  .form-group
    %label.col-sm-3.control-label{ for: 'input_card_csc' }
      CSC
    .col-sm-9
      %input.form-control{ type: 'number', id: 'input_card_csc', placeholder: 'Card Security Code' }
      %span.help-block This is usually found as a set of three numbers on the back of your card.
    %label.col-sm-3.control-label{ for: 'input_card_name' }
      Name on Card
    .col-sm-9
      %input.form-control{ type: 'text', id: 'input_card_name', placeholder: 'Cardholder Name' }
  %button.btn.btn-primary Schedule Appointment
