%table.table.table-hover
  %tr
    %th Name
    %th Vehicle
    %th
  - @appointments.each do |appointment|
    - issue = appointment.vehicle_issue || ''
    %tr
      %td= appointment.name
      %td= appointment.vehicle
      %td= link_to 'Details', appointment_path(appointment)
