%h2.spaced_header Admin Panel
%h4 Actions:
%p= link_to 'Change front posts', admin_posts_path
%p= link_to 'Change staff information', admin_staffs_path
%p= link_to 'View appointments', admin_appointments_path
