.col-sm-3
  .container-fluid.padless
    %h5.spaced_header_top Address
    .col-sm-12
      9508 62 Ave NW<br />
      Edmonton, AB
  .container-fluid.padless
    %h5.spaced_header_top Hours of Operation
    .col-sm-3
      Mon-Fri<br />
      Sat<br />
      Sun
    .col-sm-9
      8 AM - 6 PM<br />
      9 AM - 3 PM<br />
      Closed
    %p Closed Sat-Mon on long weekends
  .container-fluid.padless
    %h5 Contact
    .col-sm-3
      Tel<br />
      Fax
    .col-sm-9
      (780) 988-0888<br />
      (780) XXX-XXXX
  .col-sm-7
    %hr
    #footer
      %p= "&copy; 2014 #{ link_to 'Makita', 'https://github.com/Makita' }".html_safe
.col-sm-1#affixed{ data: { spy: 'affix' } }
  %button.btn.btn-primary{ type: 'button', id: 'back_to_top' }
    Back to Top

:javascript
  $('#affixed').affix({
    offset: {
      top: $(window).height() * 0.1
    }
  });
  
  $('#back_to_top').click(function() {
    $('html, body').animate({ scrollTop: 0 }, 'fast');
  });
