.col-sm-3
  .container-fluid.padless
    %h5.spaced_header_top Address
    .col-sm-12
      The Pimp House<br />
      1600 Pennsylvania Ave. NW<br />
      Washington, D.C.
  .container-fluid.padless
    %h5.spaced_header_top Hours of Operation
    .col-sm-3
      Mon-Fri<br />
      Sat<br />
      Sun
    .col-sm-6
      8 AM - 6 PM<br />
      8 AM - 3 PM<br />
      Closed
  .container-fluid.padless
    %h5 Contact
    .col-sm-3
      Tel<br />
      Fax
    .col-sm-6
      (360) 720-1337
      (360) 911-9001
  .col-sm-7
    %hr
    #footer
      &copy; 2014 Sakura Web
.col-sm-1#affixed{ data: { spy: 'affix' } }
  %button.btn.btn-primary{ type: 'button', id: 'back_to_top' }
    Back to Top

:javascript
  $('#affixed').affix({
    offset: {
      top: $(window).height() * 0.1
    }
  });
  
  $('#back_to_top').click(function() {
    $('html, body').animate({ scrollTop: 0 }, 'fast');
  });
