.container-fluid
  - @staff.each_with_index do |staff, i|
    - if i != 0
      %hr
    .col-sm-12.profile
      .col-sm-4.profile_picture
        = image_tag staff.image.url(:cropped)
      .col-sm-8.profile_description
        %h4= staff.name
        %h4= staff.position
        %p= staff.description
