.article
  %h3 Lorem ipsum
  %p
    Lorem ipsum dolor sit amet, alii iuvaret dissentiunt mea ea, vel ne quod intellegat repudiandae. Facete efficiantur vis at, suas posse homero eos an. Ut mei partem eirmod similique, ad has ignota appareat qualisque. His in inciderint suscipiantur. Mei petentium molestiae ne, eum et graecis blandit conclusionemque. Sea ex malorum reformidans, ne accusam adipisci tincidunt per.<br />
    <br />
    Mei id velit populo prompta, ad voluptua scaevola pertinacia eum. Duis libris in eos, graeci meliore splendide his cu. Dictas regione maluisset no vim, tibique fabellas mei at. Quot habeo deterruisset duo ei. Qui an option impetus urbanitas. Sit te soleat ubique feugait. Stet nominavi duo no.<br />
    <br />
    Ne qui equidem menandri. Mei mazim dignissim comprehensam eu. Cu erat clita omnes est, labores mnesarchum ius et, impetus nusquam dolores ea vim. Ocurreret dissentiet eum te, usu ex praesent definiebas. Sit movet eirmod rationibus id, ex sed perfecto recteque.<br />
    <br />
    Vis ne alienum albucius ocurreret, impetus bonorum elaboraret mel ut. Ex pri eros duis efficiendi, ne eam aeque propriae. No cum copiosae neglegentur complectitur, cum no singulis persequeris. Duis propriae vituperatoribus vix ei, novum debitis dolorem ne qui. Pri at ubique semper periculis. Option civibus molestiae mei eu, sint fierent accusata an eos. Usu ut solum vitae praesent, alii idque consequat vix ad.<br />
    <br />
    Ut aeque malorum eos, discere saperet offendit ius ut. Reprimique dissentias cu sit. Feugait corrumpit vituperatoribus per ei, habeo meliore concludaturque ut mel. Facete iracundia te nam, sea ut vide erat intellegam. Pri in vide minimum inciderint, ex maiorum inciderint eos. At enim habeo libris nam, consulatu imperdiet cu mei.
%hr
.article
  %h3 Lorem ipsum
  %p
    Lorem ipsum dolor sit amet, alii iuvaret dissentiunt mea ea, vel ne quod intellegat repudiandae. Facete efficiantur vis at, suas posse homero eos an. Ut mei partem eirmod similique, ad has ignota appareat qualisque. His in inciderint suscipiantur. Mei petentium molestiae ne, eum et graecis blandit conclusionemque. Sea ex malorum reformidans, ne accusam adipisci tincidunt per.<br />
    <br />
    Mei id velit populo prompta, ad voluptua scaevola pertinacia eum. Duis libris in eos, graeci meliore splendide his cu. Dictas regione maluisset no vim, tibique fabellas mei at. Quot habeo deterruisset duo ei. Qui an option impetus urbanitas. Sit te soleat ubique feugait. Stet nominavi duo no.<br />
    <br />
    Ne qui equidem menandri. Mei mazim dignissim comprehensam eu. Cu erat clita omnes est, labores mnesarchum ius et, impetus nusquam dolores ea vim. Ocurreret dissentiet eum te, usu ex praesent definiebas. Sit movet eirmod rationibus id, ex sed perfecto recteque.<br />
    <br />
    Vis ne alienum albucius ocurreret, impetus bonorum elaboraret mel ut. Ex pri eros duis efficiendi, ne eam aeque propriae. No cum copiosae neglegentur complectitur, cum no singulis persequeris. Duis propriae vituperatoribus vix ei, novum debitis dolorem ne qui. Pri at ubique semper periculis. Option civibus molestiae mei eu, sint fierent accusata an eos. Usu ut solum vitae praesent, alii idque consequat vix ad.<br />
    <br />
    Ut aeque malorum eos, discere saperet offendit ius ut. Reprimique dissentias cu sit. Feugait corrumpit vituperatoribus per ei, habeo meliore concludaturque ut mel. Facete iracundia te nam, sea ut vide erat intellegam. Pri in vide minimum inciderint, ex maiorum inciderint eos. At enim habeo libris nam, consulatu imperdiet cu mei.
