.container-fluid
  .row#banner
    .col-sm-12
      This is a placeholder
  .row#navbar_row
    = render partial: 'shared/navbar'
    .col-sm-6#content_box
      %p
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3104.4626811121434!2d-77.0202769!3d38.913401!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7f041b4dd7d%3A0x5a014868ed113176!2s1718+6th+St+NW%2C+Washington%2C+DC+20001%2C+USA!5e0!3m2!1sen!2sca!4v1412215887377" width="600" height="450" frameborder="0" style="border:0"></iframe>
      %hr
      %h5 Hours of Operation
      %p
        Mon-Fri: 8 AM - 6 PM<br />
        Sat: 8 AM - 3 PM<br />
        Sun: Closed
    = render partial: 'shared/back_to_top'
