/* Banner */
#banner {
  /* background: url('http://img3.wikia.nocookie.net/__cb20130728175753/seirei-tsukai-no-blade-dance/images/a/a1/STnBD_V11_002.jpg') -798px -460px; */
  height: 30%;
  border-bottom: 1px solid #eee;
  overflow-x: hidden;
}

#banner .col-sm-12 {
  height: 65%;
}

#banner h1 {
  font-family: 'Delius Swash Caps', cursive;
  font-size: 5em;
  text-align: center;
  margin-top: 4%;
}

#banner h1 a {
  color: black;
}

#banner h1 a:hover {
  color: black;
  text-decoration: none;
}

#banner .car_procession {
  height: 75px;
  width: 200%;
}

#banner .car_procession1, #banner .car_procession2, #banner .car_procession3, #banner .car_procession4 {
  float: left;
  width: 432px;
}

#banner .car_procession1 {
  background: white asset_url('476910497.jpg') top left no-repeat;
  height: 75px;
}

#banner .car_procession2 {
  background: white asset_url('476910497.jpg') 0px -74px no-repeat;
  height: 73px;
  margin-top: 2px;
}

#banner .car_procession3 {
  background: white asset_url('476910497.jpg') 0px -150px no-repeat;
  height: 70px;
  margin-top: 5px;
}

#banner .car_procession4 {
  background: white asset_url('476910497.jpg') 0px -221px no-repeat;
  height: 69px;
  margin-top: 6px;
}
