#banner {
  height: 20%;
  border-bottom: 1px solid gray;
}

#content_box {
  padding-top: 1%;
  padding-bottom: 70px;

  hr {
    width: 50%;
    size: 2;
  }
}

#affixed.affix-top {
  margin-top: -1000px;
}

#affixed.affix {
  bottom: 50px;
  right: 16.6666666%;
}

/* About Us mark-up */
.profile {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  .profile_picture {
    overflow-x: hidden;
  }
}
