%h2 Appointment created <small>Confirm the details below</small>
%table.table.table-hover
  %tr
    %th Field
    %th Value
  - @confirmation_details.each do |name, value|
    %tr
      %td= name.titleize
      %td= value_format(name, value)
